.tw-header {
}

.tw-left-menu {
  @apply hidden lg:grid;
}

.disable-scrollbars {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}

.disable-scrollbars::-webkit-scrollbar {
  display: none;
}

.border-line-menu {
  border: 2px solid;
  border-image-source: linear-gradient(90deg, #ea3cdc 0%, #12d7f1 100%);
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-image-slice: 1;
}
.border-line-b-none {
  @apply border-b-0;
}

.shadow-torch-red {
  --tw-shadow-color: #fe125c;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color) !important;
}

.to-torch-red {
  --tw-gradient-to: #fe125c var(--tw-gradient-to-position) !important;
}

.new-bg-top {
  background: linear-gradient(270deg, #f3c50d 0%, #2c3379 61.54%, #5865f2 100%);
}

.gradiant {
  --tw-gradient-to: #fe125c var(--tw-gradient-to-position) !important;
}

.via-seance {
  --tw-gradient-to: rgba(132, 43, 164, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #842ba4 var(--tw-gradient-via-position), var(--tw-gradient-to) !important;
}

.from-seance {
  --tw-gradient-from: #842ba4 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(132, 43, 164, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
